<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Simulation Tool</%block>

<%block name="pageBody">
<h1>Simulation Tool</h1>
<section class="save-lives">
    <article>
        <div>
            <h2>What a Unity screen looks like:</h2>
            <p>
                <img alt="picture" src="static/unity.png" class="image">
            </p>
        </div>
    </article>
    <article>
        <div>
            <h2>Code</h2>
            <p>
                <img alt="picture" src="static/unityCode.png" class="image">
            </p>
        </div>
    </article>
    <article>
        <div>
            <h1>Explanation</h1>
            <p>
                blah blah blah blah blah blah blah blah blah blah
            </p>
        </div>
    </article>
</section>
</%block>