<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Simulation Tool</%block>

<%block name="pageBody">
<h1>Simulation Tool</h1>
<section class="simul">
    <article>
        <div>
            <h2></h2>
            <p>
                <img alt="picture" src="static/unity.png" class="unityImage">
            </p>
        </div>
    </article>
    <article></article>
    <article>
        <div>
            <h2>Explanation</h2>
            <p>
                (actual instructions are in next section)<br>
                This is the core of the project and it is made using Unity and C#.<br>
            
                The simulation helps education and research and can allow others to do more research.<br>
                The technology is all about objects (classes - more in coding section)<br>

                The secret is an easiest way for fluid dynamics, by modelling and virtual reality.
                The computer does all the work by calculating physics for every individual cell.
                Lots of smaller calculations for each cell instead of one large calculation.<br>
                Only need to write the code once in the cell class. The program reads a file describing blood cells, and the program creates the cells each heartbeat.
                The program also calculates standard deviation and mean automatically.
            </p>
        </div>
    </article>
</section>
</%block>