<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Code</%block>

<%block name="pageBody">
<h1>Code</h1>
<img alt="Picture" class="results" src="static/unityCode.png">
<img alt="Picture" class="results" src="static/server.png">
<img alt="Picture" class="results" src="static/temcss.png">
<p>
    The simulation is coded in C#, and this is the most complex code. The web server is coded in python and I learnt about Bottle,
    databases, and web servers and templates but the code is no more difficult than NCSS.<br>
    The 3d work in blender for making models and unwrapping is also interesting, and the physics and programming in Unity.
</p>
</%block>