<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart</%block>

<%block name="pageBody">
<h1>Heart Disease: THE NUMBER ONE KILLER IN MODERN SOCIETY</h1>
<p>
    <img alt="graph" class="graph"src="static/heart-graph.png" target="_blank">
    Atherosclerosis is a condition where plaque builds up in the coronary arteries. It is the number one killer in developed countries. Someone we knew recently
     got a stent and almost half the people in the modern world over the age of 40 have some degree of heart diesease. Could that be you?
    
    <br>We are going to save lives and change those statistics for the better<br><br>
</p>
<h1>Heart Simulation Modeling: USING TECHNOLOGY TO SAVE LIVES</h1>
<section class="save-lives">
    <h1>Heart Simulation Modelling: USING TECHNOLOGY TO SAVE LIVES</h1>
    <h3>This is how we will help solve the problem</h3>
    <article class="first-article">
        <img alt="Picture1" src="static/education.jpg" target="_blank">
        <div>
            <h2>Education</h2>
            <p>
               In <a href="http://www.epi.umn.edu/cvdepi/study-synopsis/korean-soldiers-study/" target="_blank">1951, over 70% of people had heart disease(especially atherosclerosis)</a>
                and the main reason that the pecentage has gone down is because
                of education. By continuing with more education the percentage will go down even more!
            </p>
        </div>
    </article>
    <article class="second-article">
        <img alt="Picture" src="static/tools.jpg" target="_blank">
        <div>
            <h2>Research Tools</h2>
            <p>We have created tools for use in experiments using simulation to save testing with living hearts.
            Our project is open source allowing others to add to these tools and use our tools.  Research can help save lives and we help research</p>
        </div>
    </article>
    <article class="third-article">
        <img alt="Picture3" src="static/our.jpg" target="_blank">
        <div>
            <h2>Our Research</h2>
            <p>We have already used our tools for experiments with useful results</p>
        </div>
    </article>
</section>
</%block>
