<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Instructions</%block>

<%block name="pageBody">
<section class='save-lives'>
    <h1>How to add ideas to Our Simulation which is in the "Learn" Section</h1>
    <h2>Our project is Open-Source</h2>
    <article>
        <div>
            <h2>Run a local copy of the heart site on your computer</h2>
            <p>
                <ol>
                    <li><a href="https://github.com/plaque-heart/heartWeb" target="_blank">Click here</a> so you can access our github page</li>
                    <li>Use sourceTree or what ever you use to get a local copy</li>
                    <li>Change to the right directory 'cd' directory</li>
                    <li>Do 'pip3 install bottle'</li>
                    <li>Do 'pip3 install mako'</li>
                    <li>Do 'pip3 install bottle-sqlachemy'</li>
                    <li>Do a localhost "python3 server.py"</li>
                    <li>type in browser 'localhost:8000'</li>
                </ol>
            </p>
        </div>
    </article>
</section>
</%block>