<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Instructions</%block>

<%block name="pageBody">
<section class='save-lives'>
    <h1>How to add ideas to Our Simulation</h1>
    <h2>Our project is Open-Source</h2>
    <article>
        <div>
            <h2>Instructions and Documentation</h2>
            <p>
%for i in instruct:                    
                <a href="/instruct/${i.key}">${i.desc}</a><br>
%endfor
                When done what you need to do move on to the next link until finshed
            </p>
        </div>
    </article>
    <article>
        <div>
            <h2>${row.title}</h2>
            <p>
                <ol>
%for i in row.points.split('|'):
                    <li class="points">${i}</li>
%endfor
                </ol>
            </p>
        </div>
    </article>
</section>
</%block>