<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Instructions</%block>

<%block name="pageBody">
<section class='save-lives'>
    <h1>How to add ideas to Our Simulation</h1>
    <h2>Our project is Open-Source</h2>
    <article>
        <div>
            <h2>How to get it down from Github</h2>
            <p>
                <ol>
                    <li><a href="https://github.com/plaque-heart/Heart-Model" target="_blank">Click here</a> so you can access our github page</li>
                    <li>Press the button "download zip"</li>
                </ol>
                When downloaded move on to the next colunm
            </p>
        </div>
    </article>
    <article>
        <div>
            <h2>Once dowloaded:<br>How to use and edit</h2>
            <p>
                <ol>
                    <li>Unzip the file</li>
                    <li>Track the file into a folder you want it to be in</li>
                    <li>Download <a href="http://unity3d.com/" target="_blank">Unity</a> if you have not already got Unity</li>
                    <li>Once downloaded Unity, open the scene called "artery" and edit!</li>
                </ol>
                When done that move on to the next colunm
            </p>
        </div>
    </article>
    <article>
        <div>
            <h2>How to Suggest changes and improvementes to us</h2>
            <p>
                <ol>
                    <li>Make your own account on <a href="https://github.com/" target="_blank">Github</a></li>
                    <li>Do a fork from our respository</li>
                    <li>Commit you changes</li>
                    <li>Then when you are done do a "pull request"</li>
                </ol>
                Then You are done!
            </p>
        </div>
    </article>
</section>
</%block>