<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="static/main.css">
        <title><%block name ="pageTitle"/></title>
        <%block name= "headExtra"/>
    </head>
    <body>
        <header>
          <nav>
              <ul>
                <li><a href="/"><span class="Home">Home</span></a></li>
                <li>Learn
                    <ul>
                        <li><a href="Blender.html"><span class="Blender">Models</span></a></li>
                        <li><a href="Simulation.html"><span class="Simulation">Simulation</span></a></li>
                        <li><a href="movie.html"><span class="Movie">Our Background Movie</span></a></li>
                    </ul>
                </li>
                <li>Research
                    <ul>
                        <li><a href="Simulation.html"><span class="Simulation">Our Simulation</span></a></li>
                        <li><a href="https://github.com/plaque-heart/Heart-Model"><span class="respository">Add to our simulation</span></a></li>
                    </ul>
                </li>
                <li>Contribute
                    <ul>
                        <li><a href="https://github.com/plaque-heart/Heart-Model"><span class="respository">Add to our simulation</span></a></li>
                    </ul>
                </li>
                <li>About Us
                    <ul>
                        <li><a href="team.html"><span class="team">The Team</span></a></li>
                        <li><a href="Resources.html"><span class="Resources">What Resources??</span></a></li>
                        <li><a href="made.html"><span class="made">How we made this?</span></a></li>
                    </ul>
                </li>
              </ul>
          </nav>
        </header>
        <%block name="pageBody"/>
    </body>
</html>