<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <title><%block name ="pageTitle"/></title>
        <%block name= "headExtra"/>
    </head>
    <body>
        <header>
          <nav>
              <ul>
                <li><a href="/"><span class="Home">Home</span></a></li>
                <li>Learn
                    <ul>
                        <li><a href="/Oculus"><span class="Oculus">Oculus</span></a></li>
                        <li><a href="/Blender"><span class="Blender">Models</span></a></li>
                        <li><a href="/Simulation"><span class="Simulation">View Simulation</span></a></li>
                        <li><a href="/movie"><span class="bMovie">The Background Movie</span></a></li>
                        <li><a href="/ani"><span class="ani">Blender Animation</span></a></li>
                    </ul>
                </li>
                <li>Research Tools
                    <ul>
                        <li><a href="/aboutsim"><span class="AboutSim">Simulation Tool</span></a></li>
                        <li><a href="/instruct"><span class="instruct">Instructions</span></a></li>
                    </ul>
                </li>
                <li>Our Research
                    <ul>
                        <li><a href="/curePlaque"><span class="curePlaque">Our Findings</span></a></li>
                    </ul>
                </li>
                <li>About
                    <ul>
                        <li><a href="/people/team"><span class="team">The Team</span></a></li>
                        <li><a href="/Resources"><span class="Resources">Resources</span></a></li>
                    </ul>
                </li>
              </ul>
          </nav>
        </header>
        <%block name="pageBody"/>
    </body>
</html>