<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Story Of Our Project</%block>
<%block name="pageBody">
<h1>The Story Of Our Project</h1>
<ol class='story'>
    <li>First, Sophie and Kaya decided to do something on the heart when we were in Melbourne for the robogals awards weekend 2014 with our
    <a href='http://reactiontimes.github.io/' target='_blank'>Reaction Times</a> project</li>
    
    <li>Sophie then went 'Girls make Games' where I learnt about Unity, after that I realised we could do a simulation</li>
    
    <li>Sophie then went to a program she had made in the previous NCSS challenge and found a program Sophie wrote in python on around particles<br>
    Then Sophie copied the code into a python code file and then converted to C# to make a unity program game from the program</li>
    
    <li>Sophie changed the new Unity game, adding first a box, added a third dimension, and gradually changed the game until the particles
    moved in the way blood cells would move</li>
    
    
    <li>Sophie and Kaya then went to The Museum of Heart Disease and filmed background on heart disease</li>
    
    <li>Sophie and Kaya then created blood cells in blender, which were imported into unity to give the correct look.</li>
    
    <li>Sophie and Kaya did work on creating arteries in blender, eventually finding the artery needed to be 'uwrapped' to give the correct appearance</li>
    
    <li>Then Sophie made new c# code file for the plaques, and the rest of the physics.  By adding the physics the blood
    flowed correctly just by adding more cells to the artery for each pump of the heart</li>
    
    <li>Sophie coded all the plaques to change between each other including having no plaque at all using the "p" key and the project was ready for the experiments</li>
    
    <li>Sophie and Kaya then made predictions for the experiments, and Sophie ran and recorded experiments and submitted a movie for RoboGals Science Challenge</li>
    
    <li>After completing the science challenges, Sophie then made a new web server to host the project on pythonanywhere, added Virtual Reality by
    coding the virtual camera movement and Sophie also added a new camera and then added the code to make the camera switch</li>
    
    <li>Sophie then bowered the Oculus from her school and a the project with Education,  Experiment tools and Experiments and this web site was entered
    into Young ICT Explorers</li>
    <li>The project won a first prize in Young ICT explorers NSW.</li>
    <li>The project then won third prize in the Young ICT explorers National finals</li>
    <li>Sophie and Kaya were asked to be presenters at an Augmented Reality Sydney Conference</li>
    <li>The science Experiment won Second Prize at Robogals Science Challenge national awards weekend</li>
    
</ol>
</%block>
