<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Story Of Our Project</%block>
<%block name="pageBody">
<h1>The Story Of Our Project</h1>
<ol>
    <li>First Sophie and Kaya decided to do something on the heart</li>
    <li>Sophie then went to the NCSS challenge and found a program Sophie wrote in python the previous on the NCSS</li>
    <li>Then Sophie copy the code into a python code file and saved it</li>
    <li>Sophie then made a new Unity game</li>
    <li>Sophie then made a box in Unity</li>
    <li>Sophie then pasted the code into Unity (which only uses c#)</li>
    <li>Sophie then changed the code to c# and made the printouts to the console into virtual movements on the gameplay</li>
    <li>
    Sophie then
    added a third dimension</li>
    
    <li>
    Sophie and
    Kaya then went to The Museum of Heart Disease and filmed background on heart
    disease</li>
    
    <li>
    Sophie
    deleted the box and replaced it with artery</li>
    
    <li>
    Sophie then
    went into the code and changed it to use blood cells</li>
    
    <li>
    Then Sophie
    made a new c# code file for the plaques</li>
    
    <li>
    Sophie coded
    all the plaques to change between each other including having no plaque at all
    using the "p" key</li>
    
    <li>
    Then Sophie
    made a new c# code file</li>
    
    <li>
    Sophie then coded
    the virtual camera movement and Sophie also added a new camera and then added
    the code to make the camera switch</li>
    
    <li>
    Sophie then
    bowered the Oculus from her school</li>
    
    <li>
    Then Sophie
    hooked up the Oculus with the Unity simulation</li>

</ol>
</%block>
