<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Movie</%block>
<%block name="pageBody">
<h1>The Heart Disease Movie</h1>
<h2>Our Background Movie</h2>
<section class="video">
    <article>
        <div>
            <p>
                <iframe width="420" height="345" src="https://www.youtube.com/embed/A8zNAh9f6as"></iframe>
            </p>
        </div>
    </article>
    <article>
        <div>
            <h2>Our heart disease movie is about</h2>
            <p>
                <ul>
                    <li>The heart and its function</li>
                    <li>Heart Disease &ndash; especially plaque</li>
                    <li>Its treatments</li>
                    <li>What blood made of?</li>
                    <li>Heart disease risk factors</li>
                </ul>
            </p>
        </div>
        <div>
            <h2>We can save lives by reducing risk factors</h2>
            <p>
                <ul>
                    <li>smoking</li>
                    <li>high blood pressure</li>
                    <li>age</li>
                    <li>genetics</li>
                    <li>obesity</li>
                    <li>inflammation</li>
                    <li>diabetes</li>
                    <li>not enough exercise</li>
                    <li>high cholesterol</li>
                </ul>
            </p>
        </div>
    </article>
</section>
</%block>