<%inherit file="layout.html"/>
<%block name="pageTitle">The Heart|Resoures</%block>
<%block name="pageBody">
        <h1>The Resoures we made our project</h1>
        <p>
            <ul>
            <li>To make the respositories we used a program called <a href="https://git-scm.com/">Git</a></li>
            <li>To collaborate we used <a href="https://github.com/">Github</a></li>
            <li>To make our web server frame work we used <a href="http://bottlepy.org/docs/dev/index.html">Bottle</a></li>
            <li>To make mke out databases we used <a href="https://www.sqlite.org/">SQLite</a></li>
            <li>To access our database from programs we used <a href="http://www.sqlalchemy.org/">SQLAlchemy</a></li>
            <li>To host our webpage online we used a program called <a href="www.pythonanywhere.com">PythonAnywhere</a></li>
            <li>To make the webpage pretty and have enough text we used <a href="http://komodoide.com/">Komodo</a></li>
            <li>To send our code off to the web we used a program called <a href="https://www.sourcetreeapp.com/">SourceTree</a></li>
            <li>To make the heart be a pure functioning heart we used <a href="http://unity3d.com/">Unity</a></li>
            <li>To make the heart and artery we used <a href="https://www.blender.org/">Blender</a></li>
            <li>To film the movie we used a <a href="http://www.panasonic.com/au/">Pansonic Camera</a></li>
            <li>To edit and make the movie we used <a href="http://www.apple.com/au/ios/imovie/?cid=wwa-au-kwg-features-com">Imovie</a></li>
            </ul>
        </p>
</%block>
