<%inherit file="layout.html"/>
	
<%block name="pageTitle">The Heart|Simulation</%block>

	
	<%block name="pageBody">
	<p> this is text
	<ul> testing</ul>
	</p>

	<div>
		<ul>
			<li>To rotate use the arrow keys or the WASD keys</li>
			<li>To move forward use the space bar</li>
			<li>To move backwards use the backspace key or delete key</li>
			<li>To stop moving backwards or forwards press the fullstop button</li>
			<li>To turn the plaque on and off press the p key</li>
			<li>To change the camera view press the c key</li>
		</ul>
	</div>

	</%block>

