@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
* { box-sizing: border-box; }
nav {
  background-color: grey; 
}
nav > ul {
  padding: 0px;
}
nav > ul > li {
  display: inline-block;
  padding: 10px 30px 10px 30px;
}
nav > ul > li > a {
  color: white;
  text-decoration: none;
}
body{
    text-align: center;
}
h1, h2, h3, h4, p {
    font-family: 'Poiret One';
    max-width: 800px;
    vertical-align: middle;
    margin-left: 310px;
}
h1 {
    font-style: bold;
    text-align: center;
}
.people {
  text-align: left;
  clear: right;
}
.people > img {
  float: left;
}
.image {
  width:200px;
  height:200px;
}
.time {
  text-align: right;
}
nav > ul > li > ul {
  background-color: grey;
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
}
nav > ul > li:hover {
  background-color: none;
}
nav > ul > li > ul > li:hover {
  background-color: lightgrey;
}
nav > ul > li:hover > ul {
  display: block;
}