@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
* { box-sizing: border-box; }
nav {
  background-color: grey; 
}
nav > ul {
  padding: 0px;
  color: white;
}
nav > ul > li {
  display: inline-block;
  padding: 10px 0px 10px 0px;
  text-align: center;
  min-width: 150px;
}
nav > ul > li > a {
  color: white;
  text-decoration: none;
}
nav > ul > li > ul {
  background-color: grey;
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  min-width: 150px;
}
nav > ul > li:hover {
  background-color: none;
}
nav > ul > li > ul > li:hover {
  background-color: lightgrey;
}
nav > ul > li:hover > ul {
  display: block;
}
body{
    text-align: center;
    font-family: 'Poiret One';
}
h1, h2, h3, h4, p{
    max-width: 800px;
    vertical-align: middle;
    margin-left: 310px;
    text-align: center;
}
h1 {
    font-style: bold;
    text-align: center;
}
.save-lives {
  padding-bottom: 10px;
}
.save-lives > article{
  display: inline-block;
  width: 280px;
  vertical-align: top;
}
.save-lives > article >img{
  width: 150px;
  padding-left: 10px;
}
.save-lives > article > div > p {
  margin-left: 0;
}
.save-lives > article > div > h2 {
  margin-left: 0;
  
}
.resources {
  padding-bottom: 10px;
}
.resources > article{
  display: inline-block;
  text-align: left;
  width: 680px;
  vertical-align: top;
}
.resources > article >img{
  width: 150px;
  padding-left: 10px;
}
.resources > article > div > p {
  margin-left: 0;
}
.resources > artilce > div{
  margin-left: 80px;
}
.resources > article > div > h2 {
  margin-left: 0;
  
}
.video {
  padding-bottom: 10px;
}
.video > article{
  display: inline-block;
  text-align: left;
  width: 480px;
  vertical-align: top;
}
.video > article >img{
  width: 150px;
  padding-left: 10px;
}
.video > article > div > p {
  margin-left: 0;
}
.video > artilce > div{
  margin-left: 80px;
}
.video > article > div > h2 {
  margin-left: 0;
}
.video {
  padding-bottom: 10px;
}
.simul > article{
  display: inline-block;
  text-align: left;
  width: 350px;
  vertical-align: top;
}
.simul > article > div > img{
  width: 250px;
  padding-left: 10px;
}
.simul > article > div > p {
  margin-left: 0;
}
.simul > artilce > div{
  margin-left: 80px;
}
.simul > article > div > h2 {
  margin-left: 0;  
}
.people {
  text-align: left;
  clear: right;
}
.people > img {
  float: left;
}
.image {
  width:200px;
  height:200px;
}
.graph {
  width:150px;
  height:150px;
  float: right;
  margin-top: -40px;
}
.unity-screen {
  width:400px;
  height:400px;
  /* float: left; */
}
.oculus {
  width:400px;
  height:400px;
  /* float: right; */
}
.results {
  width:400px;
  height:350px;
}
.points {
  text-align: left;
}
.unityImage {
  width:650px;
  height:550px;
}
.resimg {
  max-height:200px;
}
.story {
  text-align: left;
  display: inline-block;
  width: 800px;
  vertical-align: top;
}